/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, 
fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color:#555555;
	background: #b7eeff;
	font-weight:300;
}

.container {
	margin: 0 auto;
	width: 940px;
}

#header-wrap,
#banner-wrap,
#nav-wrap,
#main-wrap,
#footer-wrap,
#footer-wrap-inner
{
        width:100%;
}

h3 {
	font-family: 'Coming Soon', cursive;
	font-weight:normal;
}

a {
	color: #90c000;
}

a:hover {
	color: #668800;
}

h2 {
	font-size: 30px;
	padding: .5em 0 .2em 0;
	line-height: 1.2;
	font-family: 'Coming Soon', cursive;
	font-weight:normal;
	color: #222;
}

p {
	line-height: 1.5;
	padding: .5em 0;
}

div#content {min-height:400px;}

/* Header
--------------------------------------------------------------------------------*/

#header-wrap {
	background: url(textboox-lines-white.png) repeat;
}

#header-wrap-inner {
	background: url(header-top.png) repeat-x bottom;
}

#logo,
#logo a {
	font-family: 'Coming Soon', cursive;
	font-size:44px;
	color:#0e2926;
	font-weight:normal;
}

#logo {
	float:left;
	max-width:900px;
}

#logo a:hover {}

#header {
	border-collapse: collapse;
	border-spacing: 0;
    width:100%;
    height: 97px;
	margin-bottom:28px;
}

#header td {
	vertical-align: top;
	text-align: left;
	padding:20px 0px;
}
#header td.phone-number {
	padding-top:25px;
}

#header-right table {
	float: right;
	width: 1px;
}

#header-right td {
	padding: 0;
}

/* Header: Phone Number
--------------------------------------------------------------------------------*/

#header .phone-number .wsite-text {
	font-family: 'Coming Soon', cursive;
}

#header .phone-number .wsite-text a {}
#header .phone-number .wsite-text a:hover {}

/* Header: Social Links
--------------------------------------------------------------------------------*/

#header .wsite-social {
	vertical-align: middle;
	float:right;
}

.wsite-social-item {
	width: 28px;
	height: 29px;
	margin: 0 0 0 5px;
}

.wsite-social-rss {
	background: url(social-icons.png) no-repeat -132px 0px;
}

.wsite-social-rss:hover {
	background: url(social-icons.png) no-repeat -132px -31px;
}

.wsite-social-rss:active {
	background: url(social-icons.png) no-repeat -132px -62px;
}


.wsite-social-linkedin {
	background: url(social-icons.png) no-repeat -66px 0px;
}

.wsite-social-linkedin:hover {
	background: url(social-icons.png) no-repeat -66px -31px;
}

.wsite-social-linkedin:active {
	background: url(social-icons.png) no-repeat -66px -62px;
}

.wsite-social-facebook {
	background: url(social-icons.png) no-repeat 0px 0px;
}

.wsite-social-facebook:hover {
	background: url(social-icons.png) no-repeat 0px -31px;
}

.wsite-social-facebook:active {
	background: url(social-icons.png) no-repeat 0px -62px;
}

.wsite-social-twitter {
	background: url(social-icons.png) no-repeat -33px 0px;
}

.wsite-social-twitter:hover {
	background: url(social-icons.png) no-repeat -33px -31px;
}

.wsite-social-twitter:active {
	background: url(social-icons.png) no-repeat -33px -62px;
}

.wsite-social-mail {
	background: url(social-icons.png) no-repeat -99px 0px;
}

.wsite-social-mail:hover {
	background: url(social-icons.png) no-repeat -99px -31px;
}

.wsite-social-mail:active {
	background: url(social-icons.png) no-repeat -99px -62px;
}

.wsite-social-pinterest {
	background: url(social-icons.png) no-repeat -231px 0px;
}

.wsite-social-pinterest:hover {
	background: url(social-icons.png) no-repeat -231px -31px;
}
.wsite-social-pinterest:active {
	background: url(social-icons.png) no-repeat -231px -62px;
}

.wsite-social-youtube {
	background: url(social-icons.png) no-repeat -330px 0px;
}

.wsite-social-youtube:hover {
	background: url(social-icons.png) no-repeat -330px -31px;
}

.wsite-social-youtube:active {
	background: url(social-icons.png) no-repeat -330px -62px;
}

.wsite-social-plus {
	background: url(social-icons.png) no-repeat -198px 0px;
}

.wsite-social-plus:hover {
	background: url(social-icons.png) no-repeat -198px -31px;
}

.wsite-social-plus:active {
	background: url(social-icons.png) no-repeat -198px -62px;
}

.wsite-social-flickr {
	background: url(social-icons.png) no-repeat -165px 0px;
}

.wsite-social-flickr:hover {
	background: url(social-icons.png) no-repeat -165px -31px;
}

.wsite-social-flickr:active {
	background: url(social-icons.png) no-repeat -165px -62px;
}

.wsite-social-vimeo {
	background: url(social-icons.png) no-repeat -264px 0px;
}

.wsite-social-vimeo:hover {
	background: url(social-icons.png) no-repeat -264px -31px;
}

.wsite-social-vimeo:active {
	background: url(social-icons.png) no-repeat -264px -62px;
}

.wsite-social-yahoo {
	background: url(social-icons.png) no-repeat -297px 0px;
}

.wsite-social-yahoo:hover {
	background: url(social-icons.png) no-repeat -297px -31px;
}

.wsite-social-yahoo:active {
	background: url(social-icons.png) no-repeat -297px -62px;
}

/* Header: Search Box
--------------------------------------------------------------------------------*/

#searchbox {
	float:right;
	position:absolute;
	top:-90px;
	right:0px;
}

#searchbox .wsite-search {
	width:304px;
	height:68px;
	background: url(search-bg.png) no-repeat;
	display:block;
}

#searchbox .wsite-search-input {
	margin:18px 0px 0px 30px;
	width: 190px;
	color: #5a8d9c;
	font-size: 16px;
	background: none;
	border:none;
	border-bottom:1px dashed #ADD9E6;
}

#searchbox .wsite-search-button {
	position: relative;
	width: 28px;
	height: 32px;
	margin:  14px 0px 0px 20px;
	background:url(search-button.gif) no-repeat top right ;
}

/* Navigation
--------------------------------------------------------------------------------*/

#nav-wrap .container {
	clear: both;
	overflow: hidden;
	position: relative;
}

#nav-wrap table {
	width:100%;
	margin-bottom:0px;
	margin-top:15px;
}

#menu {
	vertical-align: middle;
	max-width:500px;
}

#nav-wrap .container ul {
	list-style: none;
	float: right;
}

#nav-wrap .container ul li {
	list-style: none;
	float: left;
	margin-left:20px;
}

#nav-wrap .container ul li a {
	float: left;
	display: lock;
	font-family: 'Coming Soon', cursive;
	color: #0e2926;
	text-decoration: none;
	padding: 5px 10px;
	border: 0;
	outline: 0;
	list-style-type: none;
	font-size: 20px;
}

#nav-wrap .container ul li#active a,
#nav-wrap .container ul li a:hover {
	background: #dbf7ff;
	border: 0;
}

/* Navigation Submenu's
--------------------------------------------------------------------------------*/

#wsite-menus .wsite-menu li a {
	font-family: 'Coming Soon', cursive;
	color: #0e2926;
	font-size:16px;
	background: #fff;
}

#wsite-menus .wsite-menu li a:hover {
	background: #f4f4f4;
}

/* Universal banner
--------------------------------------------------------------------------------*/

#banner {
	background:url(cut-line.png) repeat-x bottom;
	position:relative;
}

#banner-wrap .container {
	background: url(textbook-lines-yellow.png) repeat;
	margin-top:90px;
}

#banner-top {
	background:url(banner-top.png) no-repeat top;
	height:54px;
	width:100%;
	position:absolute;
	top:-54px;
}

.clip-image {
	position:absolute;
	top:-7px;
	right:7px;
	background:url(clip.png) no-repeat;
	width:40px;
	height:60px;
}

.scissors {
	position:relative;
	background:url(scissors.png) no-repeat;
	width:22px;
	height:21px;
	top:9px;
	left:20px;
	z-index:1;
}

/* Page type: Tall header
--------------------------------------------------------------------------------*/

.tall-header-page #banner {}

.tall-header-page .banner-bg {
	background:url(banner-tall-bg.png) no-repeat;
	width:864px;
	height:327px;
	margin-left:38px;
	position:relative;
}

.tall-header-page .wsite-header {
	width: 840px;
	height: 280px;
	background: url(banner-tall.jpg) no-repeat;
	margin:23px 0px 0px 12px;
	float:left;
}

/* Page type: Short header
--------------------------------------------------------------------------------*/

.short-header-page #banner {}

.short-header-page .banner-bg {
	background:url(banner-short-bg.png) no-repeat;
	width:864px;
	height:178px;
	margin-left:38px;
	position:relative;
}

.short-header-page .wsite-header {
	width: 840px;
	height: 130px;
	background: url(banner-short.jpg) no-repeat;
	margin:23px 0px 0px 12px;
	float:left;
}

/* Page type: No header
--------------------------------------------------------------------------------*/

.no-header-page .wsite-header  {
        display:none;
}

/* Page type: Landing page
--------------------------------------------------------------------------------*/

.landing-page #banner {
	padding: 0;
}

#bannerleft {
	float: left;
	width: 550px;
	height:332px;
	background:url(banner-landing-bg.png) no-repeat top right;
	position:relative;
}

.landing-page .clip-image {
	top:-5px;
	right:17px;
}

.landing-page .wsite-header {
	width: 480px;
	height: 280px;
	margin:26px 0px 0px 49px;
	background: url(banner-landing.jpg) no-repeat;
}

.landing-banner-outer {
	display: table;
	#position: relative;
	overflow: hidden;
}

.landing-banner-mid {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}

.landing-banner-inner {
	#position: relative;
	#top: -50%;
}

#bannerright {
	float: right;
	width: 290px;
	height: 322px;
	padding: 0 50px;
}

#bannerright h2 {
	padding: 0px;
	line-height: 100%;
}

#bannerright p {
	padding: 20px 0px;
	line-height: 140%;
}

/* Main Content
--------------------------------------------------------------------------------*/

#main-wrap {
	background:url(illustration-back.png) no-repeat bottom center;
	position:relative;
}

#main-wrap .container {
	background: url(textboox-lines-white.png) repeat;
	padding:20px 40px 239px 40px;
	width:860px;
	min-height:400px;
}

#main-wrap-image {
	background: url(illustration-front.png)no-repeat bottom center;
	height:239px;
	width:100%;
	position:absolute;
	bottom:0px;
}

#main-wrap .paragraph ul {
	padding-left:5px !important;
}

#main-wrap .paragraph ul li {
	list-style:none !important;
	background:url(bullet-content.png) no-repeat 0px 8px;
	padding-left:20px !important;
}

#main-wrap .container blockquote {
	font-family: 'Coming Soon', cursive;
	font-size:18px;
	border:1px solid #c1bfb6;
	background: url(blockquote-bg.png) repeat-y 5px 0px;
	padding:15px 15px 15px 60px;
	margin:20px 0px;
}

#main-wrap .container form .wsite-button {
	margin-top:20px;
}

/* Footer
--------------------------------------------------------------------------------*/

#footer-wrap {
	background:url(footer-bg.jpg) repeat;
	text-align:right;
}

#footer-wrap-inner {
	background:url(footer-top.png) repeat-x top;
	position:relative;
	top:-30px;
	height:30px;
}

#footer-wrap .container {
	padding:0px 0px 20px;
	color:#aaaaaa;
}

#footer-wrap h2 {
	color:#fff;
}

#footer-wrap blockquote {
	font-style:italic;
	border-left:4px solid #333;
	margin:10px 0 10px 0;
	padding-left:20px;
	line-height:1.5;
	color:#777;
}

#footer-wrap .paragraph ul {
	padding-left:5px !important;
}

#footer-wrap .paragraph ul li {
	list-style:none !important;
	background:url(bullet-footer.png) no-repeat 0px 8px;
	padding-left:20px !important;
}

#footer-wrap .wsite-form-container {
	margin-top:0 !important;
	text-align:left;
}

/* Header: Social Links
--------------------------------------------------------------------------------*/

#footer-wrap .wsite-social {
	vertical-align: middle;
}

#footer-wrap .wsite-social-item {
	width: 28px;
	height: 29px;
	margin: 0 0 0 5px;
}

#footer-wrap .wsite-social-rss {
	background: url(social-icons.png) no-repeat -132px 0px;
}

#footer-wrap .wsite-social-rss:hover {
	background: url(social-icons.png) no-repeat -132px -31px;
}

#footer-wrap .wsite-social-rss:active {
	background: url(social-icons.png) no-repeat -132px -62px;
}


#footer-wrap .wsite-social-linkedin {
	background: url(social-icons.png) no-repeat -66px 0px;
}

#footer-wrap .wsite-social-linkedin:hover {
	background: url(social-icons.png) no-repeat -66px -31px;
}

#footer-wrap .wsite-social-linkedin:active {
	background: url(social-icons.png) no-repeat -66px -62px;
}

#footer-wrap .wsite-social-facebook {
	background: url(social-icons.png) no-repeat 0px 0px;
}

#footer-wrap .wsite-social-facebook:hover {
	background: url(social-icons.png) no-repeat 0px -31px;
}

#footer-wrap .wsite-social-facebook:active {
	background: url(social-icons.png) no-repeat 0px -62px;
}

#footer-wrap .wsite-social-twitter {
	background: url(social-icons.png) no-repeat -33px 0px;
}

#footer-wrap .wsite-social-twitter:hover {
	background: url(social-icons.png) no-repeat -33px -31px;
}

#footer-wrap .wsite-social-twitter:active {
	background: url(social-icons.png) no-repeat -33px -62px;
}

#footer-wrap .wsite-social-mail {
	background: url(social-icons.png) no-repeat -99px 0px;
}

#footer-wrap .wsite-social-mail:hover {
	background: url(social-icons.png) no-repeat -99px -31px;
}

#footer-wrap .wsite-social-mail:active {
	background: url(social-icons.png) no-repeat -99px -62px;
}

#footer-wrap .wsite-social-pinterest {
	background: url(social-icons.png) no-repeat -231px 0px;
}

#footer-wrap .wsite-social-pinterest:hover {
	background: url(social-icons.png) no-repeat -231px -31px;
}
#footer-wrap .wsite-social-pinterest:active {
	background: url(social-icons.png) no-repeat -231px -62px;
}

#footer-wrap .wsite-social-youtube {
	background: url(social-icons.png) no-repeat -330px 0px;
}

#footer-wrap .wsite-social-youtube:hover {
	background: url(social-icons.png) no-repeat -330px -31px;
}

#footer-wrap .wsite-social-youtube:active {
	background: url(social-icons.png) no-repeat -330px -62px;
}

#footer-wrap .wsite-social-plus {
	background: url(social-icons.png) no-repeat -198px 0px;
}

#footer-wrap .wsite-social-plus:hover {
	background: url(social-icons.png) no-repeat -198px -31px;
}

#footer-wrap .wsite-social-plus:active {
	background: url(social-icons.png) no-repeat -198px -62px;
}

#footer-wrap .wsite-social-flickr {
	background: url(social-icons.png) no-repeat -165px 0px;
}

#footer-wrap .wsite-social-flickr:hover {
	background: url(social-icons.png) no-repeat -165px -31px;
}

#footer-wrap .wsite-social-flickr:active {
	background: url(social-icons.png) no-repeat -165px -62px;
}

#footer-wrap .wsite-social-vimeo {
	background: url(social-icons.png) no-repeat -264px 0px;
}

#footer-wrap .wsite-social-vimeo:hover {
	background: url(social-icons.png) no-repeat -264px -31px;
}

#footer-wrap .wsite-social-vimeo:active {
	background: url(social-icons.png) no-repeat -264px -62px;
}

#footer-wrap .wsite-social-yahoo {
	background: url(social-icons.png) no-repeat -297px 0px;
}

#footer-wrap .wsite-social-yahoo:hover {
	background: url(social-icons.png) no-repeat -297px -31px;
}

#footer-wrap .wsite-social-yahoo:active {
	background: url(social-icons.png) no-repeat -297px -62px;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
	display: inline-block;
	color:#999999 ;
	text-align:left;
	padding-top:22px;
	padding-bottom:2px;
	font-weight:none;
}

.form-radio-container {
	font-size: 16px;
	font-family: 'Coming Soon', cursive;
	color:#666;
}

.wsite-form-input, .wsite-search-element-input {
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	font-family: 'Coming Soon', cursive;
	padding:4px !important;
	font-size:16px;
	border:1px solid #c1bfb6;
}

#footer-wrap .wsite-form-label {
	display: block;
	color:#999999 ;
	text-align:left;
	padding-top:18px;
	padding-bottom:5px;
	font-weight:none;
}

#footer-wrap .wsite-form-input, #footer-wrap .wsite-search-element-input {
	background:#1b1b1b;
	border-top:1px solid #0c0c0c;
	border-bottom:1px solid #393939;
	border-left:1px solid #1b1b1b;
	border-right:1px solid #1b1b1b;
	font-size: 16px;
	color:#fff;
	padding: 5px 0 5px 10px !important;
}

#footer-wrap .wsite-search-element-submit {
	background: url(search-dark.png) left;
}


/* Buttons
--------------------------------------------------------------------------------*/

/* Small structure & regular style */

.wsite-button {
	height:56px ;
	display: inline-block;
	padding: 0px 30px 0px 0px;
	background: url(button.png) no-repeat 100% -168px ;
}

.wsite-button:hover {
	background-position: 100% -224px;
}

.wsite-button:active {
	background-position: 100% -280px;
}

.wsite-button-inner {
	color: #ffffff !important;
	font-family: 'Nunito', sans-serif;
	line-height: 56px;
	height:56px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 7px 0 37px;
	background: url(button.png) no-repeat 0px 0px;
	text-shadow: -1px -1px 0px #507927;
}

.wsite-button:hover .wsite-button-inner {
	background-position: 0 -56px;
}

.wsite-button:active .wsite-button-inner {
	background-position: 0 -112px;
}

/* Large structure & regular style  */

.wsite-button-large {
	color: #ffffff !important;
	height: 72px;
	background: url(button_large.png) no-repeat 100% -217px;
}

.wsite-button-large:hover {
	background-position: 100% -288px;
}

.wsite-button-large:active {
	background-position: 100% -360px;
}

.wsite-button-large .wsite-button-inner {
	height: 72px;
	line-height: 72px;
	padding: 0 7px 0 37px;
	background: url(button_large.png) no-repeat 0px 0px;
}

.wsite-button-large:hover .wsite-button-inner {
	background-position: 0px -72px;
}

.wsite-button-large:active .wsite-button-inner {
	background-position: 0px -144px;
}


/* Highlighted styles */

.wsite-button-highlight {
	background-image: url(button_highlight.png);
}

.wsite-button-highlight .wsite-button-inner {
	background-image: url(button_highlight.png);
}

.wsite-button-large.wsite-button-highlight {
	background-image: url(button_large_highlight.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
	background-image: url(button_large_highlight.png);
}
